{
  "env": {
    "test": {
      "plugins": [
        [
          "module-resolver",
          {
            "root": [
              "./src"
            ],
            "alias": {
              "lexer": "./lexer",
              "parser": "./parser",
              "traverser": "./traverser",
              "code-transformers": "./code-transformers"
            }
          }
        ]
      ]
    }
  }
}